<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>USER ADDED</title>
</head>
<body>
  <h1> {{firstname}} This shit is working</h1>
  <a href="addUser.php">LAG NY BRUKER HER</a>
</body>
</html>